h1 { 
	#background: goldenrod;
	padding: 5px;
	#font-family: 'Roboto Slab';font-size: 22px;
	
	font-family: 'Almendra';font-size: 22px !important;
}
.form-div h1 { 
	margin:0px;
}
@media only screen and (max-width: 600px) {
    [id*="left-menu"] {
        display: none !important;
    }
     [id*="outer-content"] {
        width: 100% !important;
    }
}
/* button{ */
/* 	 white-space: nowrap;  */
/*     width: 50px;  */
/*     overflow: hidden; */
/*     text-overflow: ellipsis;  */
/*     border: 1px solid #000000; */
/*     #display:none; */
/* } */

body {
	margin: 0px !important;
    font-family: 'Roboto Condensed' !important;font-size: 14px !important;
    line-height: normal !important;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, p:first-child {
    margin-top: auto !important;
}
/* Create two equal columns that floats next to each other */
#left-menu {
	position: absolute;
	top: 40;
	left: 0;
	width: 12%;
	height: 100%;
		border-radius:2px;
	#margin:2px;
}

#outer-content {
	#position: absolute;
	top: 40;
	right: 0;
	width: 100%;
	height: auto;
}

.table-container {
	height: 100%;
	width: 100%;
	#display: table;
}

#menu-list { #
	vertical-align: middle;
	height: 100%;
	display: table-cell;
	border: 0px solid #000;
	padding-left: 8px;
	padding-right: 8px;
}

#main-content { 
    height: 100%;
    #display: table-cell;
    #border: 2px groove #dba520;
}
.main-div{
	#background:#DCC7AA;
		border-radius:2px;
	#margin:2px;
}
.nav {
	#height: 56px;
	    height: auto;
	width: 100%;
	#background-color: #fcfefa;/*#6B7A8F; /*#212121; /*#405d79;#24292e;*/
	background-color:#312929;
	border-radius:2px;
	#margin:2px;
}
body { 
    #background: #fbbd08 url("../images/btightyellow.jpg")  fixed center !important; 
        width: 100%;
}
.user-menu {
	margin-right: 40px !important;
	float: right;
	padding: 0px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
	font-size: 14px;
	line-height: 1.5;
	color: rgba(255, 255, 255, 0.75);
	display: table;
}

.user-menu img {
	display: table-cell;
	float: left;
	max-width: 35px;
	width: 35px;
	margin-right: 10px;
	border-radius: 50%;
	margin-top: 10px !important;
}

.welcome-text {
	display: table-cell;
	margin-top: 10px !important;
	vertical-align: middle;
	margin-right: 2px;
	    color: goldenrod;
}

.menu-outer {
	background:#312929;
	##212121;
}

.company-name {
	float: left;
}

.c-name {
	font-size: 28px;
	padding: 12px;
	    padding-top: 18px;
	color: goldenrod;
}


#-----------------MediaScreen Css---
.w3-xxxlarge {
    font-size: 48px!important;
}
.w3-bar .w3-button {
    white-space: normal;
    float:left;
}

.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

#---------Snack Bar----
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
#-----------------
.anaymous, .end_user, .admin{
	#display:none;
}
.checked {
    color: orange;
}	