.btn-group{
	
	    display: flex;
}
.btn-group button p{
	display:block;
	    margin: 0px;
	
	}
.btn-group button {
    background-color: #312929;/*goldenrod;/*#0f6c9a; /* Green background */
   border: 0px; /* Green border */
    color: gray; /* White text */
    #padding: 10px 24px; /* Some padding */
        padding: 10px 35px 0px 3px;
    cursor: pointer; /* Pointer/hand icon */
    #width: 100%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
     border:1px solid #312929;
      white-space: nowrap; 
    min-width: 50px; 
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    #border: 1px solid #000000;
        font: 400 11px system-ui !important;
}
.show-side-menu{
	#display: block !important;
}


@media (max-width: 892px) {
	.btn-group button p{
	display:none;
	
	}
	hr.style18{
	    width: 32px !important;
	}
}
@media (max-height: 570px) {
	.btn-group button p{
	display:none !important;
	
	}
}
@media (max-width: 400px) {
	.container img {
    max-width: 35px !important;
	}
	.container{
	    FONT-SIZE: xx-small;
	    padding: 5px !important;
    margin: 2px 0 !important;
	}
.show-side-menu{
	display: block !important;
}
.btn-group{
    width: 150px;
    overflow: hidden;
    display: none;
    position: fixed;
    z-index: 100;
    border-top: 1px solid #876414;
    left: 0;
    height: 100%;
    top: 50px;
    background-color: #312929;
}

.btn-group button {
background-color: #312929;
    border: 0px;
    color: gray;
    cursor: pointer;
    border: 1px solid #312929;
    white-space: nowrap;
    min-width: 50px;
    width: 100%;
    display: block;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* text-align: left; */
    font: 400 11px system-ui !important;
    /* align-items: left; */
}
.btn-group button p{
	display:block;
	    margin: 0px;
	
	}
	hr.style18{
	    height: 12px;
	     width: 90px !important;
	}
.nav{
	    height: 50px;
}
.side-menu-btn{
	width: 31px;
    background: transparent;
    border-radius: 8px;
    font-size: 17px;
    height: 28px;
    border: none;
    float: left;
    color: #dba520;
    margin: 12px 2px 0px 4px;
    display:block !important;
}
.side-menu-btn:focus{

outline:none;	
}
.company-name {
    float: left;
    width: 40%;
}
.c-name {
    font-size: 20px;
    padding: 12px;
    color: goldenrod;
}
}

.side-menu-btn{
	display:none;
}

::selection {
    background-color: gray !important;
    color: rgba(0, 0, 0, 0.87);
}

.btn-group button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    #background-color: #83878a;
   #border:1px solid white;
    color:white;
}

.btn-group button:focus {
    outline: none;
}
.btn-group button i{
	#margin-right:10px;
    display: block;
    #color:gold;
    font-size: 20px;	
	}
.active-btn{
	#background:gray;
	#background-color: gray !important;
	color:goldenrod !important;
	#border-color: goldenrod;
	#border:1px;
	@border-radius:1em;
}
.msg-indicator{
display:inline;
#color:white;
#background:red;
border-radius:5%;
    #padding: 4px;
}
.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.div-line{
	
}


hr.style18 { 
    height: 8px;
    border-style: solid;
    border-color: goldenrod;
    border-width: 2px 0 0 0;
    border-radius: 21px; 
    width: 90px;
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 2px; 
}
#---------------Sub menu Links-----------
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    width:100%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
    border: 1px solid smokewhite;
    color: white;
    #padding: 10px 24px;
    cursor: pointer;
    width: 100%;
}

.dropdown-content a {
 	 width: 100%;
    color: black;
    padding: 11px 0px;
    text-decoration: none;
    display: block;
    border: 1px solid smokewhite;
    text-align: center;
    text-rendering: auto;
    letter-spacing: normal;
    text-transform: none;
    text-shadow: none;
    display: inline-block;
    font: 400 11px system-ui;
}

.dropdown-content a:hover {
	background-color: #ddd;
color:black}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}