<!Doctype html>
<html>
<!-- <link rel="stylesheet" type="text/css" href="../css/side-menu.css"> -->
<body>

	<div class="btn-group">
		<button id="home-btn" class="home-btn active-btn anaymous end_user  admin">
			<i class="fa fa-home"></i>
			<p>Home</p>
			<hr class="style18" />
		</button>
		<button id="chat-btn" class="chat-btn anaymous end_user  admin">
			<i class="fa fa fa fa-comments blinnk " style="color: white;"></i>
			<div class="msg-indicator blink1">
				<p>Messages</p>
				<hr class="style18" />
			</div>
		</button>
		<button id="grp-btn" class="grp-btn anaymous  admin">
			<i class="fa fa-group"></i><p>Group Register</p>
			<hr class="style18" />
		</button>
		<div class="dropdown anaymous  admin">
			<button class="anaymous  admin" id="usr-main-btn">
				<i class="fa fa-user"></i><p>User Register</p>
				<hr class="style18" />
			</button>
			<div class="dropdown-content">
				<a id="usr-btn">Create User</a> <a id="usr-auto-btn">Auto Create
					Users</a>

			</div>
		</div>
		<button id="sch-btn" class="anaymous  admin">
			<i class="fa fa-calendar"></i><p>Scheduler</p>
			<hr class="style18" />
		</button>
		<div class="dropdown anaymous  admin">
			<button id="rctn-main-btn">
				<i class="fa fa-edit"></i><p>Reaction Sheet</p>
				<hr class="style18" />
			</button>
			<div class="dropdown-content">
				<a id="rctn-btn">Add Queries</a> <a id="fb-page-btn">FeedBack
					Page</a>
					 <a id="fb-page-btn-1">FeedBack
					Report</a>

			</div>
		</div>
		<div class="dropdown anaymous  admin">
			<button class="" id="usr-main-btn">
				<i class="fa fa-cog"></i><p>Settings</p>
				<hr class="style18" />
			</button>
			<div class="dropdown-content">
			<a id="usr-auto-btn">Mail Templates</a>
				<a id="usr-btn">Mail Configuration</a> 
				</div>
		</div>
		<!--       <button>Logout<hr  class="style18"/></button> -->
	</div>
</body>
<script>
	function resetButtonStatus() {
		$("#chat-btn").removeClass("active-btn");
		$("#grp-btn").removeClass("active-btn");
		$("#usr-main-btn").removeClass("active-btn");
		$("#sch-btn").removeClass("active-btn");
		$("#rctn-main-btn").removeClass("active-btn");
		$("#home-btn").removeClass("active-btn");
	}

	$("#home-btn").click(function() {
		resetButtonStatus();
		$("#home-btn").addClass("active-btn")
		$("#main-content").load("view/home.html");

	});
	$("#chat-btn").click(function() {
		resetButtonStatus();
		$("#chat-btn").addClass("active-btn")
		$("#main-content").load("view/chatScreen.html");

	});
	$("#grp-btn").click(function() {
		resetButtonStatus();
		$("#grp-btn").addClass("active-btn")
		$("#main-content").load("view/group_registration.html");

	});
	$("#usr-btn").click(function() {
		resetButtonStatus();
		$("#usr-main-btn").addClass("active-btn")
		$("#main-content").load("view/user_registration.html");

	});
	$("#sch-btn").click(function() {
		resetButtonStatus();
		$("#sch-btn").addClass("active-btn")
		$("#main-content").load("view/scheduler.html");

	});
	$("#rctn-btn").click(function() {
		resetButtonStatus();
		$("#rctn-main-btn").addClass("active-btn")
		$("#main-content").load("view/reaction.html");

	});
	$("#fb-page-btn").click(function() {
		resetButtonStatus();
		$("#rctn-main-btn").addClass("active-btn")
		$("#main-content").load("view/feedBackListView.html");

	});
	$("#usr-auto-btn").click(function() {
		resetButtonStatus();
		$("#usr-main-btn").addClass("active-btn")
		$("#main-content").load("view/userAutoCreateView.html");

	});
</script>
</html>