

<html>
<body>

	<div class="form-div">
	<H1>Questionaries</H1>
	<hr>
		<form action="/action_page.php">
			<label for="fname">Question</label> 
			<textarea rows="1" cols="50" class="w-100 h-60"></textarea>
			<label for="fname">Type of Question</label><br>
			<div class="radio-grp">
				<div class="radio">
					<input type="radio" name="gender" value="male" checked>
					Rating
				</div>
				<div class="radio">
					<input type="radio" name="gender" value="female"> Text Box
				</div>
				<div class="radio">
					<input type="radio" name="gender" value="other"> True/False
				</div>
			</div>
			<label for="fname">Order Of Question</label>
			  <select name="group" >
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>

			</select>
			<label for="fname">Category</label> 
			 <select name="group" >
				<option value="1">General</option>
				<option value="2">xyz</option>
				<option value="3">sdfsdf</option>

			</select>
			<input type="submit" value="Submit">
		</form>
	</div>

</body>



</html>
