

<html>
<body>

	<div class="form-div">
		<H1><i class="fa fa-question-circle-o"></i> Feed Back Questionaries</H1>
		<hr>
		<form action="" id="fb-form">
			<label for="fname">Question</label>
			<textarea rows="1" cols="50" class="w-100 h-60" id="fb-question"></textarea>
			<label for="fname">Type of Answer</label><br>
			<div class="radio-grp">
				<div class="radio">
					<input type="radio" name="fbq-type" value="rating" checked>
					Rating
				</div>
				<div class="radio">
					<input type="radio" name="fbq-type" value="text"> Text Box
				</div>
				<div class="radio">
					<input type="radio" name="fbq-type" value="multiple">
					Multiple Choice
				</div>
			</div>
			<label for="fname">Sort Order</label> <select name="fbq-order" id="fbq-order">
				<option value="1">1</option>
				<option value="2">2</option>
				<option value="3">3</option>
				<option value="4">4</option>
				<option value="5">5</option>
				<option value="6">6</option>

			</select> <label for="fname">Category</label> <select name="group" id="fbq-category">
				<option value="general">General</option>
				<option value="fff">Quality</option>
				<option value="3">Coverage</option>

			</select> <input type="submit" value="Submit" id="create-fb-quest-btn">
		</form>
	</div>

</body>
<script type="text/javascript">
	$('#fb-form').submit(function(e) {
		e.preventDefault();
	});
	
	$("#create-fb-quest-btn").click(function() {
		var type = document.querySelector('input[name="fbq-type"]:checked').value; 
				$.ajax({
									method : "POST",
									url : "http://localhost:9090/papi/fbquestion/addQuestion",
									dataType : "json",
									contentType : "application/json",
									data : '{"question":"'
											+ $("#fb-question").val()
											+ '","type":"'
											+ type
											+ '","order":"'
											+ $("#fbq-order").val()
											+ '","category":"'
											+ $("#fbq-category").val()
											+ '"}'
								// data: {"subject":"'+$("#sc-subject").val()+'","description":"'+$("#sc-desc").val()+'","period":"'+$("#sc-date").val()+'","scheduleDate":"'+$("#sc-date").val()+'"}
								}).done(function(msg) {
							//alert("scheduler Saved: " + msg);
							 showSnackBar("Question Saved !!!")
						}).error(function(msg) {
							//alert("scheduler Error: " + msg);
						});

			});
</script>


</html>
