

<html>
<body>

	<div class="form-div">
	<H1>Schedule Refresher</H1>
	<hr>
		<form action="/action_page.php">
			<label for="fname">Subject</label> <input type="text" id="fname"
				name="firstname" placeholder="First Name.."> <label
				for="fname">Description</label>
			<textarea rows="30" cols="50" class="w-100 h-60"></textarea>
			<label for="fname">Date/Time</label>
			 <input type="date"
				id="fname" name="firstname" placeholder="Date/Time."/> <label
				for="fname">Group</label> <select name="group" >
				<option value="1">Group1</option>
				<option value="2">Group2</option>
				<option value="3">Group3</option>

			</select> <label for="fname">Repeat</label><br>
			<div class="radio-grp">
				<div class="radio">
					<input type="radio" name="gender" value="male" checked>
					Daily
				</div>
				<div class="radio">
					<input type="radio" name="gender" value="female"> Weekly
				</div>
				<div class="radio">
					<input type="radio" name="gender" value="other"> None
				</div>
			</div>
			<input type="submit" value="Submit">
		</form>
	</div>

</body>



</html>
