<!Doctype html>
<html>
<style>
</style>
<body>


<div class="btn-group">

<button id="chat-btn" class="chat-btn active-btn" style="float:left"><div class="msg-indicator blink">1 New Messages </div></button>
  <button id="grp-btn" class="grp-btn">Group Register</button>
  <button id="usr-btn">User Register</button>
  <button id="sch-btn">Scheduler</button>
  <button  id="rctn-btn">Reaction Sheet</button>
    <button>Settings</button>
      <button>Logout</button>
</div>

</body>
<script>
function resetButtonStatus(){
	$("#chat-btn").removeClass("active-btn");
	$("#grp-btn").removeClass("active-btn");
	$("#usr-btn").removeClass("active-btn");
	$("#sch-btn").removeClass("active-btn");
	$("#rctn-btn").removeClass("active-btn");
}
$("#chat-btn").click(function(){
	resetButtonStatus();
	$("#chat-btn").addClass("active-btn")
	 $("#main-content").load("view/chatScreen.html");

});
$("#grp-btn").click(function(){
	resetButtonStatus();
	$("#grp-btn").addClass("active-btn")
	 $("#main-content").load("view/group-registration.html");

});
$("#usr-btn").click(function(){
	resetButtonStatus();
	$("#usr-btn").addClass("active-btn")
	 $("#main-content").load("view/user_registration.html");

});
$("#sch-btn").click(function() {
	resetButtonStatus();
	$("#sch-btn").addClass("active-btn")
	$("#main-content").load("view/scheduler.html");

});
$("#rctn-btn").click(function() {
	resetButtonStatus();
	$("#rctn-btn").addClass("active-btn")
	$("#main-content").load("view/reaction.html");

});


</script>
</html>